{% extends "layout.html" %}

{% block title %}Пользователи{% endblock %}

{% block content %}
{% if messages %}
  <div class=flashes>
  {% for category, message in messages %}
    {% if category == 'success' %}
    <div style="font-size: 40px; color: green; font-weight: bold; font-family: sans-serif;" class="{{ category }}">{{ message }}</div>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
<form action="{{url_for('users_get')}}" method="get">
    <input type="search" name="term" value="{{ search }}" />
    <input type="submit" value="Search" />
</form>
{% if leng >= 100 %}
  <p>Больше добавлять нельзя</p>
{% else %}
  <a href="{{url_for('users_new')}}">Добавить пользователя</a>
{% endif %}
<div style="width: 100vh; margin: 0 auto;">
  <img style="height: 50vh;" src="https://sun9-8.userapi.com/impg/7VJmsLuV8DPwDqFgSo1zXXcDveDTBYd3MXPU5Q/T67C-UNSIcQ.jpg?size=2560x1920&quality=95&sign=9aabbd5cccfc7d78b00080c7ebe5d94b&type=album" alt="">
</div>
<ul>
    {% for user in users %}
   <li style="font-size: 18; font-family: sans-serif;">Имя: <a href="/users/{{user.id}}">{{ user.name }}</a>, Email: {{ user.email}}</li>
    {% endfor %}
</ul>
{% endblock %}